<div class="title">
  <span>Record System</span>
</div>
<div class="list">
  <ng-container *ngFor="let item of displayList ">
      <span class="item-desc">{{item.Id}}</span>
      <span class="item-desc">{{item.Name}}</span>
      <span class="item-desc">{{item.Type}}</span>
      <span class="item-desc">{{item.Amount}}</span>
      <span class="item-desc">{{item.createtime}}</span>
  </ng-container>
</div>
<div class="create-item">
  <button (click)="navToCreateNew()" class="button-blue">Create Item</button>
</div>